* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-admin{
  background-image: url("../../assets/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  
}
.banner-admin {
  display: flex;
  /* background-image: url("../../assets/nosotros1.jpg"); */
  height: 358px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  /* padding-left: 10%; */
  
}

.titulo-admin {
  display: flex;
  font-family: "Playfair Display", serif;
  color: #612425;
  font-size: 100px;
  justify-content: center;
}


.tabla-pedidos-admin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-tabla-pedidos {
  display: flex;
  font-family: "Playfair Display", serif;
  color: #612425;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}

.admin-botones {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-admin {
  background-color: #8d3f35 !important;
  color: white !important;
  border: none !important;
  font-size: 14px !important;
  padding: 15px !important;
  margin: 5px !important;
}

.boton-admin-logout {
  background-color: #8d3f35 !important;
  color: white !important;
  border: none !important;
  font-size: 14px !important;
  padding: 15px !important;
  margin: 5px !important;
  
}

.d-flex {
  padding-bottom: 13%;
}

/* .separador-admin {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  width: 20%;
  border-color: lightgrey;
} */
