.table-container{
    display: box;
    width: 100%;
    justify-content: center;
}

.table-tittle {
    display: flex;
    justify-content: space-around;
    border: 1px solid #A5554A;
    background-color: rgb(230, 225, 225);
    margin-bottom:  10px;
    margin-top:  5px;
}

.noComent{
    padding-bottom:  10px;
}

.with-coments{
    display: flex;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: left;
    border-top: 1px solid #A5554A;
}

.with-coments img{
    height: 30px;
    width: 105px;
    padding-left: 40;
}

.name {
    display: flex;
    justify-content: center;
    width: 130px;
}
.qualify-img{
    display: flex;
    width: auto;
    margin-right: 15px;
}
.description{
    display: flex;
    justify-content: center;
    width: 170px;
}
.register{
    display: flex;
    width: 80px;
    justify-content: center;
    margin-left: 35px;

}

.fecha{
    margin-left: 30px;
    margin-right: 18px;
}

.register a{
    color: #A5554A;
}

.table-container td{
    font-size: 14px;
}