* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container label {
  font-size: 18px;
  font-weight: 700;
}

.container input {
  border-style:solid; 
  padding:5px; 
  font-size:19px; 
  border-radius:12px; 
  border-color:#de9d7a; 
  border-width:1px;
}