* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-search{
background-image: url("../../assets/home.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;
}
.form{
    float: right;
    width: 400px;
}
.form input[type=search] {
    margin: 10px 10px;
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
    border-radius:30px;
  }
  
.form button {
    display:ruby-base-container;
    margin: 10px 10px;
    padding: 5px;
    width: 20%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left:20px;
    cursor: pointer;
  }
  
form.form button:hover {
    background: #0b7dda;
  }
  
form.form::after {
    content: "";
    clear: both;
    display: table;
  }
  