.boton-comprar {
    background-color: #519F10;
    border: none;
    text-decoration-color: #519F10;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px 51px 5px 50px;
}

.boton-comprar:hover {
    background: #41810d;
    border: #41810d;
  }

.titulo-descripcion-container {
    width: 55%;
    margin: 0 0 0 70px;
}
.titulo-container{
    text-align: start;
    margin-bottom: 30px;
}
.titulo1 {
    color: #612425;
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 80px;
}

.palabra {
    color: #519F10;
}

.descripcion-home {
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    font-weight: 900;
    font-size: 16px;
}

.home-container {
    background-image: url("../assets/home.jpg");
    height: 700px;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boton-container{
    margin-top: 50px;
}