.nav {
    overflow: hidden;
    background-color: #A5554A;
    box-shadow: 2px 2px 20px 0px #323232;
}

.ul{
  display: inline;
}
  
.a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
    font-size: 17px;
  }
  
.a:hover {
    background-color: #ddd;
    color: black;
  }
  
.a.active {
    background-color: #4CAF50;
    color: white;
  }
  