* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav {
    overflow: hidden;
    background-color: #A5554A;
    display: flex;
    justify-content: space-around;
    height: 95px;
    position: fixed;
    top: 0; 
    right: 0; 
    left:0;
    width: 100%;
    box-shadow: 0 0 3px 3px #a09f9f;
    z-index: 1000;
}

.logo-titulo {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
}

img {
  width: 45px;
  height: 45px;
  margin-left: 25px;
}

.carrito {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-top: 5px;
}

.numeroDeCarrito {
  position: absolute;
  padding: 0px 5px;
  background-color: white;
  border-radius: 100%;
  font-size: 11px;
  bottom: 17px;
  right: -1px;
}

.searchbar-carrito {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.categorias-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.categorias-container ul {
  margin: 0;
}

.nav .logo-titulo span {
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  color: white;
  margin-left: 15px;
}

.nav2 {
  display: flex;
}
li {
  display: inline-block;

  text-align: center;
  padding: 5px 14px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

li a {
  color: #f2f2f2;
  text-decoration: none;
}

li a:hover {
  color: white;
  text-decoration: none;
}

li a:visited {
  color: white;
}

li:hover {
  background-color: #8d3f35;
  color: black;
}

form input {
  border-radius: 12px;
  border: none;
  height: 25px;
  padding-left: 15px;
}

.button-search {
  background-color: #8d3f35 !important;
  color: white !important;
  border: none !important;
  font-size: 14px !important;
  padding: 8px !important;
  margin: 5px !important;
}

.icono-usuario {
  height: 24px;
  width: 28px;
  margin-left: 15px;
  margin-right: 7px;
  margin-top: 5px;
}
